html,
body{
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: auto !important;
  overflow-x: hidden;
  overflow-y: auto !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
figure,
blockquote {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

 
a {
  text-decoration: none;
  color: inherit;
}

/* 全局禁止图片选中 + 禁止按钮区域选中 */

img {
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}


/* 全局富文本表格样式 */
.rich-text-content table {
  border-collapse: collapse !important;
  width: 100%;
}
.rich-text-content table td,
.rich-text-content table th {
  border: 1px solid #dee2e6 !important; /* 灰色细线，符合 Bootstrap 规范 */
  padding: 0.5rem !important;
  text-align: center;
}
/* 解决表头背景色 */
.rich-text-content table th {
  background-color: #f8f9fa !important;
  font-weight: 600 !important;
}
 